body{
    font-family:'Rubik', sans-serif;
    text-decoration: none;
    margin: 0px;
}


/*Menú de navegacion*/
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    box-shadow: 0px 5px 10px -2px rgba(34, 34, 34, .3);
    margin-top: auto;
    width: 100vw;
}
.nav-bar img{
    margin-top: 10px;
    margin-bottom: 15px;
}
.nav-bar-child{
    margin-top: 22px;
}
.nav-bar-child .fas{
    margin-right: 10px;
    
}
.nav-bar-child li{
    list-style: none;
    cursor: pointer;
}
.nav-bar-child a{
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-size: 16px;
}


/*Titulo Principal*/
.principal{
    background-color:#f8f8f8 ;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
.principal-title{
    margin-top: 70px;
}
.principal-title h1{
 font-size: 60px;
 text-align: center;
 letter-spacing: 6px;
 font-weight: 500;
 margin-bottom: 0px;
}
.principal-title h4{
 text-align: center;
 letter-spacing: 3px;
 font-weight: 500; 
}


/*Cards*/
.cards{
 display: flex;
 justify-content: center;
 margin-top: -150px;
}
.card-one{
 
 border-radius: 5px;
 height: 300px;
 width: 250px;
 margin-right: 10px;
 line-height: 30px;
 background-color: #ffffff;
 box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
}
.card-one i{
 display: flex;
 justify-content: center;
 margin-top: 50px;
}
.card-one h4{
    display: flex;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
}
.card-one p{
    color: #5d5d5d;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    text-align: center;
    padding: 10px;
}


/*works*/
.works{
    display: flex;
    justify-content: center;
}
.works-title h2{
    text-align: center;
    letter-spacing: 3px;
    padding: 150px 20px 0;
}
.works-title p{
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    color: #5d5d5d;
    margin: 0;
}
.sub-navbar-filter ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.sub-navbar-filter li{
    margin-right: 10px;
    top:30px;
    color: #282828;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 1px 6px;
    position: relative;
    cursor: pointer;
}
.sub-navbar-cards{
   position: relative;
   height: 900px;
   margin-left: 210px;
   top:60px;
}
.sub-navbar-cards-one{
    position: absolute;
    left: 0px;
    top: 0px;
    margin-bottom: 30px;
}
.sub-navbar-cards-two{
    position: absolute;
    left: 367px;
    top: 0px;
    padding-left: 15px;
    margin-bottom: 30px;
    
}
.sub-navbar-cards-three{
    position: absolute;
    left: 735px;
    top: 0px;
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.sub-navbar-cards-four{
    position: absolute;
    left: 0px;
    top: 280px;
    
}
.sub-navbar-cards-five{
    position: absolute;
    left: 740px;
    top: 395px;
    padding-left: 26px;
    padding-right: 15px;
   
}
.sub-navbar-cards-six{
    position: absolute;
    left: 369.987px;
    top: 550px;
    padding-left: 13px;
    padding-right: 15px;
}
.sub-navbar-buttom{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    
}
.sub-navbar-buttom a{
    text-decoration: none;
    border: 1px solid #000000;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    color: #000000;
    letter-spacing: 3px;
}


/*Testimonios*/
.testimonial{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color:#f8f8f8 ;
}
.testimonial-title{
    position: absolute;
    width: 100%;
}
.testimonial-title h2{
    text-align: center;
    letter-spacing: 6px;
    padding: 150px 20px 0;
    font-size: 24px;
    
}
.testimonial-title p{
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    color: #5d5d5d;
    margin: 0;
}
.testimonial-cards{
position: relative;
margin-top: 370px;
}
.testimonial-cards-one {
    position: absolute;
    width: 347px;
    height: 150px;
    padding: 50px;
    color: #5d5d5d;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    line-height: 30px;
}
.testimonial-cards-one p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 22px;
}
.testimonial-cards-one-t{
    border: none;
    color: #000000;
    letter-spacing: 2px;
    
}
.testimonial-cards-two{
    margin-left: 563px;
    margin-right: 282px;
}


/*LATEST NEWS*/
.news{
    min-height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.news-title{
    position: absolute;
    top: 0px;
}
.news-title h2{
    text-align: center;
    letter-spacing: 6px;
    padding: 150px 20px 0;
    font-size: 24px;
}
.news-title p{
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    color: #5d5d5d;
    margin: 0;
}
.news-info{
    position: absolute;
    top: 349px;
    display: flex;
}
.news-info-img{
    float: left;
    margin-right: 90px;
    margin-left: 92px;
}
.news-info-text{
    margin-left: 27px;
    margin-right: 22px;
    padding-right: 27px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    color: #5d5d5d;
    
}
.news-info-text h4{
    color: #000000;
    font-weight: 400;
    margin-bottom: 0px;
}
.news-info-text h6{
    color: #000000;
    font-weight: 200;
    margin-top: 0px;
    font-size: 12px;
}
.news-info-text a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.news-info-text-two{
    position: absolute;
    display: flex;
    top: 800px;
    left: 479px;
    width: 50%;
}
.news-info-text-l{
    padding-right: 159px;
    margin-left: -151px;
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    color: #5d5d5d;
}
.news-info-text-l h4{
    color: #000000;
    font-weight: 400;
    margin-bottom: 0px;
}
.news-info-text-l h6{
    color: #000000;
    font-weight: 200;
    margin-top: 0px;
    font-size: 12px;
}
.news-info-text-l a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}


/*FOOTER*/
.footer{
    margin-top: 800px;
    color: #ababab;
}

.footer-big-black{
    background-color: #000000;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-big-black-img{
    margin-left: 120px;
    margin-top: 83px;
}
 .footertxt{
    font-size: 16px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 50px;

 }
 .footer-big-contact{
    margin-top: 50px;
 }
 .footertxt h5, h5{
     color: #fff;
     letter-spacing: 3px;
 }


.footer-big-grey{
    background-color: #1d1d1d ;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-big-grey-copy{
    margin-left: 100px;
    color: #ababab;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}

.footer-big-grey p{
    margin-top: 0px;
}
.footer-big-grey-social{
    margin-left: 205px;
}
.footer-big-grey-social a{
    margin-right: 20px;
}
.footer a{
    text-decoration: none;
    color: #ababab;
}